body {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: black;
    font-family: sans-serif;
    font-weight:300;
    font-size: 22px;
}
.weather {
    width: 80px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
}
.searchWeather{
   width: 100px;
   padding: 15px 10px; 
   border: none;
   background-color:rgba(255, 255,255, 0.15) ;
   font-size: 20px;
}
.todays-weather{
    display: flex;
    justify-content: space-between;
}
.weather-image{
    width: 30vmin;
    align-self: center;
}
/* .humidity-indicator::before{
    background-image: url(humid.png);
    background-size: cover;
    width: 30px;
    height: 30px;

} */
.forecast-item{
   margin: auto;
   width: 100px;
   display: flex;
   text-align: center; 
   justify-content: space-between;
   padding: 30px;
}

.weather-icons{
    max-width: 50%;
}
